<div class="col col-lg-12">
  <div class="card col-lg-23 bg-light">
    <div class="card-header">
      <h3>
        Funcionários
        <button
          type="button"
          style="margin-right: 0px"
          (click)="add()"
          class="text-right btn btn-outline-info btn-lg"
        >
          <i class="pi pi-plus-circle" aria-hidden="true"></i>
        </button>
      </h3>
      <ng-select [(ngModel)]="departamentoFiltro" [searchable]="false">
        <ng-option [value]="'TODOS'">Departamentos</ng-option>
        <ng-option
          *ngFor="let departamento of departamentos$ | async"
          [value]="departamento.nome"
          >{{ departamento.nome }}</ng-option
        >
      </ng-select>
    </div>
    <div class="card-body col-lg-12">
      <table class="table table-striped table-hover table-bordered">
        <thead class="table-secondary">
          <tr>
            <th class="text-center fs-6">Foto</th>
            <th class="text-center fs-6">Nome</th>
            <th class="text-center fs-6">Email</th>
            <th class="text-center fs-6">Departamento</th>
            <th class="text-center fs-6">Função</th>
            <th class="text-center fs-6">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let funcionario of funcionarios$
                | async
                | filter : departamentoFiltro
            "
          >
            <td class="text-center">
              <img
                [src]="funcionario.foto"
                style="width: 100px"
                class="img-fluid"
              />
            </td>
            <td class="text-center align-middle">{{ funcionario.nome }}</td>
            <td class="text-center align-middle">{{ funcionario.email }}</td>
            <td class="text-center align-middle">
              {{ funcionario.departamento.nome }}
            </td>
            <td class="text-center align-middle">{{ funcionario.funcao }}</td>
            <td class="text-center align-middle">
              <button
                type="button"
                (click)="selecionaFuncionario(funcionario)"
                class="btn btn-success table-button"
              >
                <i class="pi pi-file-edit"></i>
              </button>
              <button
                type="button"
                (click)="delet(funcionario)"
                class="btn btn-danger table-button"
              >
                <i class="pi pi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <a [routerLink]="['/admin/painel']" class="btn btn-primary">
          <i class="pi pi-search">Voltar</i>
        </a>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [style]="{ width: '40vw' }"
  [contentStyle]="{ overflow: 'visable' }"
  [(visible)]="displayDialogFuncionario"
  [responsive]="true"
  [modal]="true"
>
  <ng-template pTemplate="header">
    <span class="pi pi-user fs-4 text-info"> Dados do funcionário</span>
  </ng-template>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="form.value">
    <form [formGroup]="form" class="p-fluid p-formgrid p-grid">
      <div class="form-floating mb-3">
        <input
          type="text"
          pInputText
          formControlName="nome"
          class="form-control"
          id="floatingInput"
          placeholder="Nome"
        />
        <label for="floatingInput">Nome</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          pInputText
          formControlName="email"
          class="form-control"
          id="floatingInput"
          placeholder="Email"
        />
        <label for="email">Email</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          pInputText
          class="form-control"
          id="floatingInput"
          formControlName="funcao"
          placeholder="Função"
        />
        <label for="funcao">Funcão</label>
      </div>
      <div class="mb-3">
        <ng-select
          [items]="departamentos$ | async"
          bindLabel="nome"
          autofocus
          placeholder="Departamentos"
          formControlName="departamento"
          [searchable]="false"
        >
        </ng-select>
      </div>

      <div class="input-group">
        <label class="input-group-text" for="inputGroupFile01">Upload</label>
        <input
          type="file"
          class="form-control"
          id="inputGroupFile01 "
          (change)="upload($event)"
          accept=".jpg, .jpeg, .png"
        />
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-end">
    <button
      [disabled]="!form.valid"
      class="btn btn-primary mx-0"
      (click)="save()"
    >
      <i class="pi pi-check-circle">{{ edit ? "Atualizar" : "Salvar" }}</i>
    </button>
  </div>
</p-dialog>
